spring:
    profiles:
        active: dev # 기본 프로필: dev

    application:
        name: main

    security:
        oauth2:
            client:
                registration:
                    google:
                        client-id: ${GOOGLE_CLIENT_ID}
                        client-secret: ${GOOGLE_CLIENT_SECRET}
                        redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
                        scope: profile, email
                    kakao:
                        client-id: ${KAKAO_CLIENT_ID}
                        client-secret: ${KAKAO_CLIENT_SECRET}
                        client-authentication-method: client_secret_post
                        authorization-grant-type: authorization_code
                        redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
                        scope: profile_nickname, account_email
                        client-name: Kakao
                provider:
                    kakao:
                        authorization-uri: https://kauth.kakao.com/oauth/authorize
                        token-uri: https://kauth.kakao.com/oauth/token
                        user-info-uri: https://kapi.kakao.com/v2/user/me
                        user-name-attribute: id

    servlet:
        multipart:
            max-file-size: 20MB
            max-request-size: 100MB

    thymeleaf:
        prefix: classpath:/templates/
        suffix: .html
        check-template-location: true

payment:
    gateway: mock

toss:
    secret-key: ${TOSS_SECRET_KEY:}
    client-key: ${TOSS_CLIENT_KEY:}

springdoc:
    paths-to-match:
        - /payments/**
        - /cart/**
        - /cartItem/**
        - /orders/**
