spring:
    h2:
        console:
            enabled: true
            path: /h2-console

    datasource:
        driver-class-name: org.h2.Driver
        url: jdbc:h2:~/local
        username: sa
        password:

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true
    data:
        redis:
            host: ${SPRING_DATA_REDIS_HOST:localhost}
            port: ${SPRING_DATA_REDIS_PORT:6379}
    thymeleaf:
        cache: false

logging:
    level:
        org.springframework.security: DEBUG
        org.springframework.web: DEBUG

uploadPath: ${UPLOAD_PATH:/Users/g0729/shop/}
