spring:
    h2:
        console:
            enabled: false

    security:
        oauth2:
            client:
                registration:
                    google:
                        client-id: test-client-id
                        client-secret: test-client-secret
                        scope: profile, email

    datasource:
        driver-class-name: org.h2.Driver
        url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
        username: sa
        password:

    jpa:
        hibernate:
            ddl-auto: create-drop
        show-sql: false
        properties:
            hibernate:
                format_sql: true

    data:
        redis:
            host: localhost
            port: 6379

uploadPath: /tmp/shopping-test-upload
