name: CD

on:
    push:
        branches: [main]

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and Push Docker Image
              uses: docker/build-push-action@v5
              with:
                  context: ./main
                  push: true
                  tags: |
                      ${{ secrets.DOCKERHUB_USERNAME }}/shopping-mall:latest
                      ${{ secrets.DOCKERHUB_USERNAME }}/shopping-mall:${{ github.sha }}

# to do :: aws ssh 연결 추가
